<div>
  <ul>
  <li>Order number:{{ordernumber}}</li>
  <li>Item:{{name}}</li>
  <li>Temperature:{{temp}}</li>
  <li>Ice:{{ice}}</li>
  <li>Sugar:{{sugar}}</li>
  <li>Topping:{{topping}}</li>
  </ul>
</div>