<div class="bubbletea">
  <img class="img-circle" src="{{image}}" alt="this is an image of a {{name}}">
  <h2>{{name}}</h2>
  <p>Type: {{type}}</p>
  <p>Topping: {{topping}}</p>

  <div class="link">
  {{>customising}}
  </div>


  <a class="back" href="/bubbletea/menu">back to menu</a>

</div>
