<div class="container">
  {{#each teas}}
  <div class="tea-list">
    <a href="/bubbletea/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    <p>{{name}}</p>
    <p>{{type}}</p>
  </div>
  {{/each}}
</div>
